<div class="hero md:flex">
    <div class="justify-center mx-10 animate__animated animate__fadeInLeft">
        <h1 class="text-lg font-extralight pt-16 text-purple-400">BLOOG</h1>
        <h1 class="text-white mt-1 text-4xl font-semibold">Recopilación De Actividades Realizadas Durante El Bimestre</h1>
        <p class="text-gray-50 mt-3">Este es un blog personal de activades en la que se recopilan todas las actividades realizadas durante el 2do bimestre. Aqui se da una breve descripción de la actividad realiza y de los proyectos que creamos durante la unidad.</p>
        <button class="mt-10 bg-red-500 text-white py-2 px-11 rounded-full">Ver Actividades</button>

        <div class="w-full bg-white mt-8 rounded-3xl h-96 shadow-2xl">
            d
        </div>

    </div>
</div>