.title, .title-2 {
    letter-spacing: 1px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.label-container {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;
    color: rgb(92, 91, 91);
    font-size: 14px;
}

.label-container span {
    padding-top: 8px;
    padding-bottom: 6px;
    @apply bg-gray-200 w-44 rounded-lg text-center;
}

.back-button {
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-left: 26px;
    padding-right: 16px;
    padding-bottom: 5px;
    padding-top: 6px;
    @apply rounded-full ring-2 ring-gray-200 hover:bg-gray-200 transition duration-200 ease-in focus:outline-none;
}

.icon-angle-left {
    font-size: 17px;
    position: absolute;
    top: 2px;
    left: 5px;
}